config CRYPTO_DEV_SUN8I_SS
	tristate "Support for Allwinner Crypto Engine cryptographic accelerator"
	select CRYPTO_BLKCIPHER
	select CRYPTO_ENGINE
	help
	  Select y here for having support for the crypto Engine availlable on
	  Allwinner SoC H3 and A64.
	  The Crypto Engine handle AES/DES/3DES ciphers in CBC mode
	  and MD5, SHA1, SHA224, SHA256, SHA384 and SHA512 hash algorithms.

	  To compile this driver as a module, choose M here: the module
	  will be called sun8i-ss.
